#*
 * Copyright 2012 LinkedIn Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
*#

      <div class="modal modal-wide" id="execute-flow-panel">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="execute-flow-panel-title"></h4>
            </div><!-- /modal-header -->
            <div class="modal-body row">
              <div class="col-xs-4">
                <ul class="nav nav-pills nav-stacked" id="graph-options">
                  <li id="flow-option" viewpanel="svg-div-custom">
                    <a href="#">Flow查看</a>
                    <div class="menu-caption">右击JOB可设置此JOB是否在FLOW中可用.</div>
                  </li>
                  <li viewpanel="notification-panel">
                    <a href="#">通知</a>
                    <div class="menu-caption">更改JOB成功/失败后发送邮件地址</div>
                  </li>
                  <li viewpanel="failure-options">
                    <a href="#">失败机制</a>
                    <div class="menu-caption">检测到故障时的操作选择</div>
                  </li>
                  <li viewpanel="concurrent-panel">
                    <a href="#">FLOW并行设置</a>
                    <div class="menu-caption">同一个工作流重复运行设置</div>
                  </li>
                  <li viewpanel="flow-parameters-panel">
                    <a href="#">Flow参数</a>
                    <div class="menu-caption">添加用于覆盖每个作业的全局设置的临时流参数</div>
                  </li>
                </ul>
              </div><!-- /col-xs-4 -->
              <div class="col-xs-8">
                <div id="execution-graph-options-panel">

## SVG graph panel.

                  <div id="svg-div-custom" class="side-panel">
                    <svg id="flow-executing-graph" xmlns="http://www.w3.org/2000/svg" version="1.1" shape-rendering="optimize-speed" text-rendering="optimize-speed">
                    </svg>
                  </div>

## Notification panel.

                  <div id="notification-panel" class="side-panel">
                    <h4>任务失败通知</h4>
                    <p>立即通知/流程执行完毕通知</p>
                    <hr>
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-default">
                        <input id="notify-failure-first" type="radio" name="notify" value="first">立即通知
                      </label>
                      <label class="btn btn-default">
                        <input id="notify-failure-last" type="radio" name="notify" value="last">任务完毕通知
                      </label>
                    </div>

                    <h4>失败报警邮箱</h4>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="override-failure-emails" name="overrideFailureEmails" value="overrideFailureEmails">
                        重置报警邮箱(在azkaban.properties中如果已经设置通知邮箱，此处可以不再设置，如果此处设置，则配置文件邮箱被重置)
                      </label>
                    </div>
                    <label>失败报警邮箱列表(请以逗号,空格或者分号分割每个报警邮箱)</label>
                    <textarea class="form-control" rows="3" id="failure-emails"></textarea>

                    <h4>成功提示邮箱</h4>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" id="override-success-emails" name="overrideSuccessEmails" value="overrideSuccessEmails">
                          重置提示邮箱(在azkaban.properties中如果已经设置通知邮箱，此处可以不再设置，如果此处设置，则配置文件邮箱被重置)
                      </label>
                    </div>
                    <label>成功提示邮箱列表(请以逗号,空格或者分号分割每个报警邮箱)</label>
                    <textarea class="form-control" rows="3" id="success-emails"></textarea>
                  </div>

## Failure options panel.

                  <div id="failure-options" class="side-panel">
                    <h4>失败机制选择</h4>
                    <p>当任务执行失败时,请选择执行操作：</p>
                    <hr>
                    <ul>
                      <li><strong>完成当前运行</strong>仅完成当前正在运行的作业,它不会启动任何新的工作</li>
                      <li><strong>全部取消运行</strong>立即停止所有的任务</li>
                      <li><strong>部分取消运行</strong>满足依赖的任务继续执行</li>
                    </ul>
                    <select id="failure-action" name="failureAction" class="form-control form-control-auto">
                      <option value="finishCurrent">完成当前运行</option>
                      <option value="cancelImmediately">全部取消运行</option>
                      <option value="finishPossible">部分取消运行</option>
                    </select>
                  </div>

## Concurrent execution options panel.

                  <div id="concurrent-panel" class="side-panel">
                    <h4>并行执行选项</h4>
                    <p>当一个工作流被重复运行时的参数设置</p>
                    <hr>
                    <div class="radio">
                      <label>
                        <input type="radio" id="skip" name="concurrent" value="skip" checked="checked">
                        停止执行
                      </label>
                      <span class="help-block">已在执行的工作流不再重复执行</span>
                    </div>

                    <div class="radio">
                      <label>
                        <input type="radio" id="ignore" name="concurrent" value="ignore">
                        立即执行
                      </label>
                      <span class="help-block">立即运行,以前的执行不受影响</span>
                    </div>

                    <div class="radio">
                      <label>
                        <input type="radio" id="pipeline" name="concurrent" value="pipeline">
                        Pipeline
                      </label>
                      <select id="pipeline-level" name="pipelineLevel" class="form-control form-control-auto input-sm">
                        <option value="1">选项1</option>
                        <option value="2">选项2</option>
                      </select>
                      <span class="help-block">
                        Pipeline the flow, so the current execution will not be overrun.
                        <ul>
                          <li>选项1: 前一个工作流A任务完成之前，当前工作流任务A处于堵塞状态</li>
                          <li>选项1: 前一个工作流A任务的依赖(子类)任务完成之前，当前工作流任务A处于堵塞状态</li>
                        </ul>
                      </span>
                    </div>
                  </div>

## Flow parameters panel

                  <div id="flow-parameters-panel" class="side-panel">
                    <h4>工作流参数重置</h4>
                    <hr>
                    <div id="editTable">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th class="property-key">属性</th>
                            <th>值</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr id="addRow" class="addRow">
                            <td id="addRow-col" colspan="2">
                              <button type="button" class="btn btn-success btn-xs" id="add-btn">添加属性</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                </div><!-- /execution-graph-options-panel -->
              </div><!-- /col-xs-8 -->
            </div><!-- /modal-body -->

            <div class="modal-footer">
#if (!$show_schedule || $show_schedule == 'true')
              <div class="pull-left">
                <button type="button" class="btn btn-success" id="schedule-btn">执行计划</button>
              </div>
#end

#*
#if ($triggerPlugins.size() > 0)
  #foreach ($triggerPlugin in $triggerPlugins)
              <button type="button" class="btn btn-default" id=set-$triggerPlugin.pluginName>$triggerPlugin.pluginName</button>
  #end
#end
*#
              <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
              <button type="button" class="btn btn-primary" id="execute-btn">手工执行</button>
            </div><!-- /modal-footer -->
          </div><!-- /modal-content -->
        </div><!-- /modal-dialog -->
      </div><!-- /modal -->

#if (!$show_schedule || $show_schedule == 'true')
  #parse ("azkaban/webapp/servlet/velocity/schedulepanel.vm")
#end

#*
#if ($triggerPlugins.size() > 0)
  #foreach ($triggerPlugin in $triggerPlugins)
    #set ($prefix = $triggerPlugin.pluginName)
    #set ($webpath = $triggerPlugin.pluginPath)
    #parse ($triggerPlugin.inputPanelVM)
  #end
#end
*#

      <div id="contextMenu"></div>
